# Folder structure
.mixin.out/
backups/
# config/
crash-reports/
defaultconfigs/
downloads/
journeymap/
# kubejs/
# local/
logs/
mod_data/
mods/
# openloader/
# patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/

# File structure
options.txt
optionsof.txt
optionsshaders.txt
# patchouli_data.json
realms_persistence.json
reauth.toml
servers.dat
usercache.json
usernamecache.json
